@charset "UTF-8";

//----------------------------------------------
.btn {
  font-size: 18px;
  line-height: 1.55;
  width: 187px;
  border: 0;
  border-radius: 6px;
  padding: 19px 0 20px;

  @media (max-width: $screen-xs-max) {
    font-size: 14px;
    padding: 11px 0 12px;
  }
}

.btn-default {
  color: #fff;
  background-image: linear-gradient(to top, #8d0011, #c50018);
  text-indent: -27px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    text-indent: -20px;
  }

  &:hover,
  &:active,
  &:focus {
    color: #fff !important;
    background-image: linear-gradient(to bottom, #8d0011, #c50018);
    outline: none;
    box-shadow: none;
  }

  &:after {
    content: "";
    width: 25px;
    height: 36px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/common/ico-arrow.png") no-repeat center center/100%;

    @media (max-width: $screen-xs-max) {
      width: 10px;
      height: 15px;
      right: 8px;
    }
  }
}
