@charset "UTF-8";
//----------------------------------------------

footer {
  background-color: #333;
  color: #ccc;
  margin-top: 35px;
  padding-top: 39px;

  @media (max-width: $screen-xs-max) {
    padding-top: 30px;
  }
}

.footer-logo {
  > img {
    width: 93px;
  }
}

.footer-left {
  display: flex;
  align-items: flex-end;

  @media (min-width: $screen-sm-min) {
    padding-left: 30px;
  }

  @media (max-width: $screen-xs-max) {
    display: block;
    text-align: center;
  }
}

.footer-info {
  margin-left: 31px;
  margin-bottom: -3px;

  @media (max-width: $screen-xs-max) {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 0;
  }

  > h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 2.14;
    margin: 0;
  }

  > p {
    font-size: 12px;
    line-height: 2.16;
    margin: 0;
  }
}

.copy-right {
  border-top: 1px solid #666;
  color: #ccc;
  font-size: 10px;
  text-align: right;
  margin-top: 15px;
  padding: 8px 0;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}
