@charset "UTF-8";

//----------------------------------------------
.container {
  @media (min-width: $screen-lg-min) {
    width: 1010px;
  }
}

.max-width-1320 {
  @media (min-width: 1327px) {
    width: 1320px;
  }
}
