@charset "UTF-8";

//----------------------------------------------
.list-group-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px 0 0;
  padding: 26px 0 15px;

  @media (max-width: $screen-xs-max) {
    flex-wrap: wrap;
    padding: 15px 0;
    margin-top: 22px;
    background-color: rgba($color: #50718c, $alpha: .8);
  }

  .list-group-item {
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 100px;

    @media (max-width: $screen-xs-max) {
      width: 75px;
      margin-top: 15px;
    }

    @media (min-width: $screen-xs-min) {
      + .list-group-item {
        margin-left: 27.5px;
      }
    }

    > img {
      width: 75px;
      display: block;
      margin: 0 auto;

      @media (max-width: $screen-xs-max) {
        width: 50px;
      }
    }

    > span {
      font-weight: bold;
      font-size: 14px;
      color: #fff;
      display: block;
      text-align: center;
      margin-top: 10px;

      @media (max-width: $screen-xs-max) {
        font-size: 10px;
        margin-top: 5px;
      }
    }
  }

  a.list-group-item:hover,
  a.list-group-item:focus,
  button.list-group-item:hover,
  button.list-group-item:focus {
    color: #fff;
    opacity: .6;
    background: transparent;
  }
}

.list-disc-black {
  margin: 0;

  &.list-disc-black-2 {
    @media (min-width: $screen-sm-min) {
      padding-left: 30px;
    }
  }

  li {
    line-height: 2.429;

    &:before {
      content: "●";
      margin-right: 5px;
    }
  }
}

.list-inline-footer {
  text-align: center;

  @media (min-width: $screen-md-min) {
    margin-bottom: -21px;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }

  > li {
    & + li {
      margin-left: 7px;

      @media (max-width: $screen-xs-max) {
        margin-left: 5px;
      }
    }

    > a {
      font-size: 14px;
      color: #ccc;
      font-weight: bold;
      line-height: 2.14;

      @media (max-width: $screen-xs-max) {
        font-size: 10px;
      }

      &:before {
        content: "";
        width: 9px;
        height: 9px;
        background: url("../img/common/ico-arrow-footer.png") no-repeat center center/100%;
        display: inline-block;
        margin-right: 8px;

        @media (max-width: $screen-xs-max) {
          margin-right: 5px;
        }
      }
    }
  }
}

.list-inline-info {
  margin: 80px 11px 0 0;
  text-align: right;

  @media (max-width: $screen-md-max) {
    margin: 45px 0 0 0;
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;
    margin: 30px 0 0;
  }

  > a {
    color: #ccc;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.24;
    letter-spacing: 2.8px;

    @media (max-width: $screen-md-max) {
      display: block;
      margin-top: 10px;
    }

    &:before {
      content: "";
      display: inline-block;
      vertical-align: -6px;
      margin-right: 13px;
    }

    &.phone {
      &:before {
        width: 29px;
        height: 29px;
        background: url("../img/common/ico-phone.svg") no-repeat center center/100%;
      }
    }

    &.fax {
      @media (min-width: $screen-md-min) {
        margin-left: 28px;
      }

      @media (max-width: $screen-xs-max) {
        margin-top: 15px;
      }

      &:before {
        width: 31px;
        height: 31px;
        background: url("../img/common/ico-fax.svg") no-repeat center center/100%;
      }
    }
  }
}
