@charset "UTF-8";

//----------------------------------------------
.navbar-static-top {
  border: 0;
  padding: 23px 0 29px;
  margin-bottom: 0;

  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}

.navbar-brand {
  @media (max-width: $screen-xs-max) {
    padding: 10px 15px;
  }

  > img {
    width: 224px;

    @media (max-width: $screen-sm-max) {
      width: 180px;
    }

    @media (max-width: $screen-xs-max) {
      width: 90px;
    }
  }
}

.navbar-slogan {
  color: #4f708b;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  vertical-align: -3px;
  margin-left: 44px;

  @media (max-width: $screen-sm-max) {
    font-size: 18px;
    margin-left: 25px;
  }

  @media (max-width: $screen-xs-max) {
    display: block;
    margin-left: 0;
    font-size: 10px;
  }
}

.navbar-header {
  @media (max-width: $screen-xs-max) {
    float: left;
  }
}

.navbar-right {
  @media (min-width: $screen-sm-min) {
    margin: 6px 0 0;
  }

  @media (max-width: $screen-xs-max) {
    float: right;
    margin: 10px 0;
  }

  .btn {
    padding: 19px 0 20px;
    line-height: 1.55;

    @media (max-width: $screen-xs-max) {
      width: 120px;
      padding: 11px 0 12px;
    }
  }
}
