@charset "UTF-8";

//----------------------------------------------
.container-px-30 {
  @media (min-width: $screen-sm-min) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.container-pl-81 {
  @media (min-width: $screen-sm-min) {
    padding-left: 81px;
  }
}
