@charset "UTF-8";

//----------------------------------------------
.section-anchor {
  padding: 32px 0 43px;

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;
  }

  .log-list {
    margin-bottom: 32px;
  }
}

.section-title {
  margin: 0 0 18px;
  padding-bottom: 49px;
  border-bottom: 1px solid #a7b9c6;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 30px;
  }

  > img {
    width: 116px;
    display: inline-block;

    @media (max-width: $screen-xs-max) {
      width: 90px;
      display: block;
      margin: 0 auto;
    }
  }

  > span {
    font-size: 32px;
    font-weight: bold;
    vertical-align: -5px;
    margin-left: 24px;

    @media (max-width: $screen-xs-max) {
      display: block;
      font-size: 24px;
      margin-left: 0;
      margin-top: 15px;
      text-align: center;
    }
  }
}
