@charset "UTF-8";

//----------------------------------------------
.page-header {
  background: url("../img/report/page-header/bg.jpg") no-repeat center center/cover;
  border-bottom: 0;
  margin: 0 0 45px;
  padding: 0;
  position: relative;

  @media (max-width: $screen-xs-max) {
    background: url("../img/report/page-header/bg1.jpg") no-repeat center center;
    margin-bottom: 15px;
  }
}

.page-header-top {
  background-image: url("../img/top/page-header/bg.jpg");
  height: 543px;

  @media (max-width: $screen-sm-max) {
    background-image: url("../img/top/page-header/bg-sp.jpg");
  }

  .page-header-title {
    @media (min-width: $screen-xs-min) {
      margin-top: 33px;
      margin-bottom: 27px;
      font-size: 44px;
      line-height: 1.5;
    }

    @media (max-width: $screen-sm-max) and (min-width: $screen-xs-min) {
      font-size: 36px;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 15px;
      margin-bottom: 20px;
      line-height: 1.5;
    }
  }

  .lead-header {
    line-height: 1.81;

    @media (min-width: $screen-md-min) {
      margin-left: 159px;
    }

    @media (max-width: $screen-md-max) {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

.header-desc {
  padding: 38px 0 35px;

  @media (max-width: $screen-sm-max) {
    background-color: rgba($color: #50718c, $alpha: .8);
    padding: 20px 0;
  }
}

.header-blue {
  @media (max-width: $screen-sm-max) {
    background-color: rgba($color: #50718c, $alpha: .8);
  }
}

.page-header-head {
  padding: 0 30px;
  position: relative;
  margin-top: 34px;

  @media (max-width: $screen-xs-max) {
    margin-top: 15px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 7px;
    height: calc(100% - 12px);
    background-color: #c50018;

    @media (max-width: $screen-xs-max) {
      top: 10px;
    }
  }
}

.page-header-title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.88;
  margin: 0;

  @media (max-width: $screen-xs-max) {
    font-size: 26px;
  }
}

.lead-header {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.77;
  margin: 0;

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 6px;
  }
}

.header-list-icon {
  margin: 0;

  @media (min-width: $screen-md-min) {
    margin: 4px -7px 0 0;
    text-align: right;
  }

  > img {
    display: inline-block;

    @media (min-width: $screen-xs-min) {
      width: 604px;
    }
  }
}

.note {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 1px;
  text-indent: -15px;
  padding-left: 15px;
}
